<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Data</title>
</head>
<body>

<div>
    <span>多行文本:</span>
    <div>
        <textarea name="" id="" cols="30" rows="5"></textarea>
    </div>

</div>

<!--input系列-->
<div>
    <h1>input系列</h1>
    <div>
        <sapn>账号:</sapn>
        <input type="text" title="输入">
    </div>

    <div>
        <sapn>密码:</sapn>
        <input type="password" title="密码">
    </div>

    <div>
        <input type="file" title="选择文件">
    </div>
    
    <div>
        <span>单选框:</span>
        <input type="radio" name="n1">男
        <input type="radio" name="n1">女
    </div>

    <div>
        <span>复选框:</span>
        <input type="checkbox" >你
        <input type="checkbox" >我
        <input type="checkbox" >他
    </div>
    
    <div>
        <span>按钮:</span>
        <input type="button" value="button">
        <input type="submit" value="submit">
    </div>
    
</div>



<!--下拉框-->
<div>
    <h1>下拉框</h1>
    <span>单选下拉框</span>
    <div>
        <select name="" id="1">
            <option value="bj">北京</option>
            <option value="sh">上海</option>
            <option value="gz">广州</option>
            <option value="cd">成都</option>
        </select>
    </div>

    <span>多选下拉框</span>
    <div>
        <select name="" id="9" multiple>
            <option value="bj">北京</option>
            <option value="sh">上海</option>
            <option value="gz">广州</option>
            <option value="cd">成都</option>
        </select>
    </div>
</div>



<!--form表格-->
<div>
    <h1>表格</h1>
        <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>头像</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>更多信息</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <img src="/static/img/jing1.png" alt="" style="height: 50px">
                </td>
                <td>星期一</td>
                <td>123215465@qqq.ccc</td>
                <td>
                    <a href="" target="_blank">点击查看详细</a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>

            <tr>
                <td>1</td>
                <td>
                    <img src="https://photo.tuchong.com/12034593/f/1057437186.jpg" alt="" style="height: 50px">
                </td>
                <td>星期一</td>
                <td>1265@qqq.ccc</td>
                <td>
                    <a href="" target="_blank">点击查看详细</a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>

            <tr>
                <td>1</td>
                <td>
                    <img src="/static/img/jing1.png" alt="" style="height: 50px">
                </td>
                <td>星期一</td>
                <td>123215465@qqq.cvac</td>
                <td>
                    <a href="" target="_blank">点击查看详细</a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>

        </tbody>

    </table>
</div>



</body>
</html>