<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Html入门</title>
</head>
<body>
        <ul>
            <li>
                <h2>
                    <a href="/article/info" target="_blank">Article</a>
                </h2>
            </li>

            <li>
                <h2>
                    <a href="/form/data" target="_blank">Formdata</a>
                </h2>
            </li>

            <li>
                <h2>
                    <a href="/user/login" target="_blank">用户登录</a>
                </h2>
            </li>
        </ul>
        <h1 style="color:red;">联通</h1>

        <h1>标签</h1>
        <div>div</div>
        <div>一个占一整行  [块级标签]</div>

        <span>span</span>
        <span>[行内标签]</span>
        <div></div>
        <span>span</span><span>[行内标签]</span>
<div>

    <!--    跳转到新页面-->
    <h1><a href="http://www.baidu.com" style="color: red" target="_blank">点击跳转</a></h1>
    <img style="height: 400px;width: 650px" src="https://photo.tuchong.com/12034593/f/1057437186.jpg" alt="">

    <!--    当前页面跳转-->
    <h1><a href="/article/info">Article</a></h1>

    <a href="http://www.baidu.com">
        <img style="height: 40%;width: 40%" src="/static/img/jing1.png" alt="">
    </a>

</div>

<div>
    <table border="1">
        <thead>
        <tr> <th>ID</th>  <th>姓名</th> <th>年龄</th> </tr>
        <tbody>
        <tr> <td>10</td> <td>星期一</td> <td>18</td> </tr>
        <tr> <td>11</td> <td>星期二</td> <td>16</td> </tr>
        <tr> <td>13</td> <td>星期三</td> <td>11</td> </tr>
        <tr> <td>14</td> <td>星期四</td> <td>11</td> </tr>
    </tbody>
        </thead>
    </table>
</div>




</body>
</html>