<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
<h1>用户登录</h1>
    <div>
        <div>
            <span>用户名:</span>
            <input type="text">
        </div>

        <div>
            <span>密    码:</span>
            <input type="password">
        </div>

        <div>
            <input type="button" value="登录">
            <a href="/user/register" target="_blank">注册</a>
        </div>

    </div>
</body>
</html>